<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <br>
    {{todayDate}}
  </h1>
</div >

<!--
<mat-form-field>
  <input matInput [matDatepicker] = "picker" placeholder = "Choose a date">
  <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<button mat-button [matMenuTriggerFor] = "menu">Menu</button>
<mat-menu #menu = "matMenu">
  <button mat-menu-item> File </button>
  <button mat-menu-item> Save As </button>
</mat-menu>


<mat-sidenav-container class="example-container" fullscreen>
  <mat-sidenav #sidenav class = "example-sidenav">
    Angular 7
  </mat-sidenav>
  <div class = "example-sidenav-content">
    <button type = "button" mat-button (click) = "sidenav.open()">
      Open sidenav
    </button>
  </div>
</mat-sidenav-container>
-->

<h3>Angular 7 - Drag and Drop Module</h3>
<div cdkDropList
     #personList = "cdkDropList"
     [cdkDropListData] = "personaldetails"
     [cdkDropListConnectedTo] = "[userlist]"
     class = "example-list"
     (cdkDropListDropped) = "onDrop($event)" >

  <div *ngFor = "let item of personaldetails;
      let i = index" class = "divlayout" cdkDrag>
    {{item.name}}
  </div >
</div>

<h3>Angular 7 - Virtual Scrolling</h3>
<cdk-virtual-scroll-viewport [itemSize] = "20">
  <table>
    <thead>
    <tr>
      <td>ID</td>
      <td>ThumbNail</td>
    </tr>
    </thead>
    <tbody>
    <tr *cdkVirtualFor = "let album of albumdetails">
      <td>{{album.id}}</td>
      <td>
        <img src = "{{album.thumbnailUrl}}" width = "100" height = "100"/>
      </td>
    </tr>
    </tbody>
  </table>
</cdk-virtual-scroll-viewport>

<form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">
  <input type = "text" name = "emailid" placeholder = "emailid" ngModel>
  <br/>
  <input type = "password" name = "passwd" placeholder = "passwd" ngModel>
  <br/>
  <input type = "submit" value = "submit">
</form>

<div>
  <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit2(formdata.value)" >
    <input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid"
           formControlName = "emailid">
    <br/>

    <input type = "password" class = "fortextbox" name = "passwd"
           placeholder = "passwd" formControlName = "passwd">
    <br/>

    <input type = "submit" [disabled] = "!formdata.valid" class = "forsubmit" value = "Log In">
  </form>
</div>
<p> Email entered is : {{emailid}} </p>

<h3>Users Data</h3>
<ul>
  <li *ngFor="let item of personData; let i = index">
    {{item.name}}
  </li>
</ul>

<div style="text-align:center">
  <span changeText>Welcome to {{ title }}.</span>
</div>

<h1>Angular 7 Routing Demo</h1>
<nav>
  <a routerLink = "/home">Home</a>
  <a routerLink = "/contactus">Contact Us </a>
</nav>

<div> Months :
  <select (change) = changeMonths($event)>
    <option *ngFor = "let i of months">{{i}}</option>
  </select>
</div>
<br/>

<div>
  <span *ngIf = "isAvailable; then condition1 else condition2"></span>
  <ng-template #condition1>Condition is valid.</ng-template>
  <ng-template #condition2>Condition is invalid.</ng-template>
</div>

<button (click) = "myClickFunction($event)">Click Me</button>

<div style = "width:100%;">
  <div style = "width:40%;float:left;border:solid 1px black;">
    <h1>Uppercase Pipe</h1>
    <b>{{title | uppercase}}</b>
    <br/>

    <h1>Lowercase Pipe</h1>
    <b>{{title | lowercase}}</b>
    <h1>Currency Pipe</h1>
    <b>{{6589.23 | currency:"USD":false}}</b>
    <br/>

    <b>{{6589.23 | currency:"USD":true}}</b>
    <h1>Date pipe</h1>
    <b>{{todayDate | date:'d/M/y'}}</b>
    <br/>

    <b>{{todayDate | date:'shortTime'}}</b>
    <h1>Decimal Pipe</h1>
    <b>{{ 454.78787814 | number: '3.4-4' }}</b>
  </div>

  <div style = "width:40%;float:left;border:solid 1px black;">
    <h1>Json Pipe</h1>
    <b>{{ jsonVal | json }}</b>

    <h1>Percent Pipe</h1>
    <b>{{00.54565 | percent}}</b>

    <h1>Slice Pipe</h1>
    <b>{{months | slice:2:6}}</b>

    <h1>Custom Pipe</h1>
    <b>Square root of 25 is: {{25 | sqrt}}</b>
    <br/>
    <b>Square root of 729 is: {{729 | sqrt}}</b>
  </div>
</div>

<h3>{{todayDate}}</h3>
  <h3> Service Property : {{componentProperty}} </h3>
<app-new-cmp></app-new-cmp>

<h1>This is the routing section!</h1>
<router-outlet></router-outlet>
